/*首页的css*/

/*头部*/
.broker_header {
  width: 100%;
  /*导航条*/
  .nav_bar {
    width: 100%;
    background: linear-gradient(-90deg, rgba(30, 30, 75, 1), rgba(34, 40, 90, 1));
    position: fixed;
    top: 0;
    z-index: 200;
    //border: 1px solid #000;
    .container {
      //display: flex;
      //justify-content: space-between;
      height: 80px;
      .logo {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        float: left;
        width: 145px;
        height: 40px;
        //border: 1px solid red;
        background: url("../images/logo/home_logo1.png") no-repeat;
        text-indent: -9999px;
        margin-top: 20px;
      }
      .nav {
        //border: 1px solid red;
        //display: flex;
        //align-items: center;
        float: right;
        > li {
          //display: block;
          height: 80px;
          padding: 0 35px;
          //border: 1px solid red;
          //display: flex;
          //justify-content: center;
          //align-items: center;
          float: left;
          line-height: 80px;
          > a {
            //border: 1px solid white;
            //height: 60px;
            > span {
              color: #7C86C1;
              display: block;
            }
            &.active {
              span {
                color: white;
              }
            }
          }
          &:hover {
            span {
              color: white;
            }
          }

        }

        .nav_product {
          width: 102px;
          //border: 1px solid red;
          padding: 0;
          text-align: center;
          //line-height: 0px;
          //margin-top: 20px;
          .content_triangle {
            //display: none;
            display: block;
            //width: 20px;
            //height: 20px;
            //background-color: red;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid white;
            margin-top: -24px;
            margin-left: 41px;
          }
          .nav_product_content {
            //display: none;
            display: block;
            width: 200px;
            //height: 113px;
            background-color: white;
            border-radius: 4px;
            //border: 1px solid red;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 20px;
            z-index: 200;
            > a {
              //height: 37px;
              //border: 1px solid blue;
              line-height: 26px;
              text-align: left;
              padding-left: 10px;
              padding-right: 10px;
              color: #7C86C1;
              &:hover {
                color: #313BFF;
              }
              &:nth-child(2){
                color: #313BFF;
              }
            }
          }
          &:hover {
            .content_triangle {
              display: block;
            }
            .nav_product_content {
              display: block;
            }
          }
        }

        > .nav_language_sel {
          width: 75px;
          height: 80px;
          //line-height: 80px;
          //border: 1px solid green;
          background-color: #1E1E4B;
          color: #7C86C1;
          font-size: 16px;
          //cursor: pointer;
          border: 0;
          outline: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &:hover {
            color: white;
          }
          > option {
            background-color: #1E1E4B;
            &:hover {
              background-color: red;
              color: #fff;
            }
          }
        }
      }
    }
  }
  /*banner*/
  .broker_banner {
    width: 100%;
    background: url("../images/bg/home_BW_bg.png") no-repeat;
    margin-top: 79px;
    .container {
      //border: 1px solid blue;
      height: 671px;
      display: flex;
      justify-content: center;
      align-items: center;
      .banner_content {
        //width: 442px;
        height: 229px;
        //border: 1px solid red;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        .content_h2 {
          font-size: 48px;
          font-family: PingFang-SC-Heavy;
          font-weight: 800;
          color: rgba(255, 255, 255, 1);
          line-height: 41px;
        }
        .content_h3 {
          font-size: 24px;
          font-family: Adobe Heiti Std R;
          font-weight: normal;
          color: white;
          line-height: 24px;
          margin-top: 38px;
          margin-bottom: 29px;
          text-align: center;
        }
        .content_btn {
          //display: block;
          width: 200px;
          height: 60px;
          background: rgba(68, 225, 223, 1);
          border-radius: 30px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          //border: 1px solid white;
          > span {
            font-size: 14px;
            font-family: PingFang-SC-Heavy;
            font-weight: 800;
            color: rgba(254, 254, 255, 1);
            line-height: 30px;
            margin-left: 20px;
          }
          .btn_arrows {
            width: 48px;
            height: 48px;
            background: rgba(99, 250, 249, 1);
            border-radius: 50%;
            color: white;
            text-align: center;
            line-height: 48px;
            font-size: 26px;
            margin-right: -6px;
          }
          &:hover {
            > span {
              color: #1E1E4B;
            }
            .btn_arrows {
              color: #1E1E4B;
            }
          }
        }
      }
    }
  }
}
/*选择*/
.broker_choice {
  width: 100%;
  background-color: #F6F6FF;
  .container {
    //border: 1px solid #000;
    padding-top: 150px;
    padding-bottom: 150px;
    .content_title {
      font-size: 24px;
      font-family: Adobe Heiti Std R;
      font-weight: bold;
      color: rgba(30, 30, 75, 1);
      line-height: 40px;
      text-align: center;
      margin-top: 49px;
      margin-bottom: 29px;
    }
    .choice_tab {
      //height: 467px;
      //border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 4px 7px 1px rgba(70, 80, 225, 0.08);
      border-radius: 8px;

      .tab_body {
        width: 840px;
        //height: 286px;
        //border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 90px;
        .body_item {
          width: 195px;
          //height: 286px;
          //border: 1px solid green;
          display: flex;
          flex-flow: column nowrap;
          //justify-content: center;
          align-items: center;
          .item_img {
            width: 120px;
            height: 120px;
            //border: 1px solid red;
          }
          .item_detail {
            width: 195px;
            //height: 137px;
            //border: 1px solid red;
            margin-top: 29px;
            text-align: center;
            .detail_title {
              font-size: 24px;
              font-weight: bold;
              color: rgba(30, 30, 75, 1);
              line-height: 41px;
              white-space: nowrap;
            }
            .detail_text {
              font-size: 14px;
              color: #9D9CAA;
              line-height: 24px;
            }
          }
          &:first-child {
            .item_img {
              background: url("../images/icon/home_BW_icon_dj.png") no-repeat;
            }
          }
          &:nth-child(2) {
            .item_img {
              background: url("../images/icon/home_bw_icon_wm.png") no-repeat;
            }
          }
          &:nth-child(3) {
            .item_img {
              background: url("../images/icon/home_bw_icon_dcb.png") no-repeat;
            }
          }
        }
      }
    }
  }
}
/*MT5*/
.broker_mt5 {
  /*有背景的*/
  .mt5_have_bg {
    height: 812px;
    background: url("../images/bg/home_bw_bg2.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .have_bg_content {
      width: 898px;
      //height: 472px;
      //border: 1px solid green;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      .content_img {
        width: 421px;
        height: 266px;
        //border: 1px solid white;
        background: url("../images/icon/home_icon_MT5_EA.png") no-repeat center;
      }
      .content_detail {
        width: 898px;
        //height: 94px;
        //border: 1px solid red;
        text-align: center;
        margin-top: 70px;
        .detail_title {
          font-size: 24px;
          color: #7C86C1;
          font-weight: bold;
          white-space: nowrap;
        }
        > p {
          font-size: 14px;
          color: white;
          line-height: 28px;
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
    &:nth-child(3) {
      .have_bg_content {
        .content_img {
          width: 513px;
          height: 267px;
          //border: 1px solid white;
          background: url("../images/icon/home_icon_MT5_cl.png") no-repeat center;
        }
      }
    }
    &:nth-child(5) {
      .have_bg_content {
        .content_img {
          width: 267px;
          height: 234px;
          //border: 1px solid white;
          background: url("../images/icon/home_icon_MT5_yd.png") no-repeat;
        }
      }
    }
  }
  /*没有背景的*/
  .mt5_without_bg {
    height: 734px;
    //border: 1px solid #000;
    background-color: #F6F6FF;
    .container {
      padding-top: 170px;
      .without_bg_content {
        //width: 734px;
        //height: 276px;
        //border: 1px solid green;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 170px;
        .content_img {
          width: 283px;
          height: 279px;
          //border: 1px solid white;
          background: url("../images/icon/home_icon_mt5.png") no-repeat;
        }
        .content_detail {
          width: 898px;
          //height: 94px;
          //border: 1px solid red;
          text-align: center;
          margin-top: 70px;
          .detail_title {
            font-size: 24px;
            color: #1E1E4B;
            font-weight: bold;
          }
          > p {
            font-size: 14px;
            color: #9D9CAA;
            line-height: 28px;
            margin-top: 10px;
            font-weight: bold;
          }
        }
      }
    }
    &:nth-child(5) {
      .container {
        .without_bg_content {
          .content_img {
            width: 290px;
            height: 278px;
            //border: 1px solid red;
            background: url("../images/icon/home_icon_MT5_yh.png") no-repeat;
          }
        }
      }
    }

  }
  /*直客、代理在线一站式管理*/
  .mt5_one_stop {
    height: 745px;
    background: url("../images/bg/home_bw_bg4.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .one_stop_content {
      width: 1200px;
      //height: 405px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 4px 7px 1px rgba(70, 80, 225, 0.08);
      opacity: 0.85;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      //border: 1px solid blue;
      .content_detail {
        width: 895px;
        //height: 300px;
        font-size: 24px;
        font-family: Adobe Heiti Std R;
        font-weight: bold;
        color: rgba(30, 30, 75, 1);
        line-height: 40px;
        //border: 1px solid red;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 90px;
        .detail_text {
          width: 895px;
          //height: 136px;
          //border: 1px solid blue;
          margin-bottom: 60px;
          .text {
            width: 895px;
            //height: 94px;
            text-align: center;

            .text_title {
              font-size: 24px;
              color: #1E1E4B;
              font-weight: bold;
            }
            > p {
              font-size: 14px;
              color: #9D9CAA;
              line-height: 28px;
              margin-top: 10px;
              font-weight: bold;
            }
          }
        }
        .detail_btn {
          //display: block;
          width: 200px;
          height: 60px;
          background: rgba(68, 225, 223, 1);
          border-radius: 30px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          //border: 1px solid white;
          > span {
            font-size: 14px;
            font-family: PingFang-SC-Heavy;
            font-weight: 800;
            color: rgba(254, 254, 255, 1);
            line-height: 24px;
            margin-left: 20px;
          }
          .btn_arrows {
            width: 48px;
            height: 48px;
            background: rgba(99, 250, 249, 1);
            border-radius: 50%;
            color: white;
            text-align: center;
            line-height: 48px;
            font-size: 26px;
            margin-right: -6px;
          }
          &:hover {
            > span {
              color: #1E1E4B;
            }
            .btn_arrows {
              color: #1E1E4B;
            }
          }
        }
      }
    }
  }
}
/*机构*/
.broker_organization {
  height: 494px;
  //background: linear-gradient(-90deg, rgba(30, 30, 75, 1), rgba(49, 57, 123, 1));
  background: url("../images/bg/home_bg4.png") no-repeat;
  .container {
    padding-top: 170px;
    .organization_content {
      //border: 1px solid white;
      //height: 164px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      .content_title {
        font-size: 36px;
        font-family: PingFang-SC-Heavy;
        font-weight: 800;
        color: rgba(255, 255, 255, 1);
        line-height: 41px;
        margin-bottom: 60px;
      }
      .content_btn {
        //display: block;
        width: 200px;
        height: 60px;
        background: rgba(68, 225, 223, 1);
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        //border: 1px solid white;
        > span {
          font-size: 14px;
          font-family: PingFang-SC-Heavy;
          font-weight: 800;
          color: rgba(254, 254, 255, 1);
          line-height: 24px;
          margin-left: 30px;
        }
        .btn_arrows {
          width: 48px;
          height: 48px;
          background: rgba(99, 250, 249, 1);
          border-radius: 50%;
          color: white;
          text-align: center;
          line-height: 48px;
          font-size: 26px;
          margin-right: -12px;
        }
        &:hover {
          > span {
            color: #1E1E4B;
          }
          .btn_arrows {
            color: #1E1E4B;
          }
        }
      }
    }
  }
}

