/*客户帮助css*/

/*头部*/
.privacy_header {
  background: url("../images/bg/home_ys_bg.png") no-repeat;
  /*导航条*/
  .nav_bar {
    width: 100%;
    background: linear-gradient(-90deg, rgba(30, 30, 75, 1), rgba(34, 40, 90, 1));
    position: fixed;
    top: 0;
    z-index: 200;
    //border: 1px solid #000;
    .container {
      //display: flex;
      //justify-content: space-between;
      height: 80px;
      .logo {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        float: left;
        width: 145px;
        height: 40px;
        //border: 1px solid red;
        background: url("../images/logo/home_logo1.png") no-repeat;
        text-indent: -9999px;
        margin-top: 20px;
      }
      .nav {
        //border: 1px solid red;
        //display: flex;
        //align-items: center;
        float: right;
        > li {
          //display: block;
          height: 80px;
          padding: 0 35px;
          //border: 1px solid red;
          //display: flex;
          //justify-content: center;
          //align-items: center;
          float: left;
          line-height: 80px;
          > a {
            //border: 1px solid white;
            //height: 60px;
            > span {
              color: #7C86C1;
              display: block;
            }
            &.active {
              > span {
                color: white;
              }
            }
          }
          &:hover {
            span {
              color: white;
            }
          }

        }

        .nav_product {
          width: 102px;
          //border: 1px solid red;
          padding: 0;
          text-align: center;
          //line-height: 0px;
          //margin-top: 20px;
          &.en{
            width: 118px;
            .nav_product_content{
              margin-left: 4px;
            }
          }
          .content_triangle {
            display: none;
            //width: 20px;
            //height: 20px;
            //background-color: red;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid white;
            margin-top: -24px;
            margin-left: 41px;
          }
          .nav_product_content {
            display: none;
            width: 200px;
            //height: 113px;
            background-color: white;
            border-radius: 4px;
            //border: 1px solid red;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 20px;
            z-index: 200;
            > a {
              //height: 37px;
              //border: 1px solid blue;
              line-height: 26px;
              text-align: left;
              padding-left: 10px;
              padding-right: 10px;
              color: #7C86C1;
              &:hover {
                color: #313BFF;
              }
              &:first-child {
                color: #313BFF;
              }
            }
          }
          &:hover {
            .content_triangle {
              display: block;
            }
            .nav_product_content {
              display: block;
            }
          }
        }

        > .nav_language_sel {
          width: 75px;
          height: 80px;
          //line-height: 80px;
          //border: 1px solid green;
          background-color: #1E1E4B;
          color: #7C86C1;
          font-size: 16px;
          //cursor: pointer;
          border: 0;
          outline: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &:hover {
            color: white;
          }
          > option {
            background-color: #1E1E4B;
            &:hover {
              background-color: red;
              color: #fff;
            }
          }
        }
      }
    }
  }
  /*banner*/
  .privacy_banner {
    width: 100%;
    margin-top: 79px;
    .container {
      //border: 1px solid #ffffff;
      height: 671px;
      color: white;
      display: flex;
      flex-flow: column nowrap;
      //justify-content: center;
      align-items: center;
    }
  }
}
/*主体*/
.privacy_main {
  background: #F6F6FF;
  .container {
    padding-bottom: 170px;
    .main_title {
      font-size: 36px;
      font-family: Adobe Heiti Std R;
      font-weight: bold;
      color: rgba(30, 30, 75, 1);
      line-height: 41px;
      text-align: center;
      padding-top: 169px;
      margin-bottom: 100px;
    }
    .main_content {
      //border: 1px solid red;
      box-shadow: 0px 4px 7px 1px rgba(70, 80, 225, 0.08);
      border-radius: 8px;
      //height: 1961px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .content_detail {
        width: 922px;
        //height: 1792px;
        //border: 1px solid #000;
        margin-top: 90px;
        margin-bottom: 79px;
        .detail_bold {
          color: #1E1E4B;
          line-height: 26px;
          margin-bottom: 20px;
        }
        .detail_title {
          color: #1E1E4B;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .detail_data {
          color: #9D9CAA;
          line-height: 26px;
          > p{
            &:last-child{
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
        }
        .detail_query{
          color: #7C86C1;
          line-height: 26px;
        }
      }
    }
  }
}